* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #212121;
}

h1,
h2,
h3 {
    font-family: 'Raleway', serif;
}

/*** HEADER ***/
#header-nav {
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
    color: #FFF;
    text-decoration: none;
}

.navbar-brand h1 {
    /*navbar-brand -> font-size: 1.25rem*/
    font-size: 1.9em;
    font-weight: bold;
    margin-bottom: 0px;
    text-shadow: 1px 1px 1px #EEE;
}

#nav-list a {
    font-size: 1.3em;
    text-align: center;
    display: block;
    color: #FFF;
    text-decoration: none;
}

#nav-list a:hover {
    color: #751034;
    background-color: #EEE;
}

.navbar-toggler {
    color: #FFF;
    border-color: #FFF;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    background-color: #FFF;
    border: 1px solid rgb(117, 16, 52);
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.9);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus .navbar-toggler-icon,
.navbar-toggler:active .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(117, 16, 52)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*** END HEADER ***/

/*** MAIN CONTENT ***/
#menu-title {
    font-size: 2em;
    font-weight: bold;
    color: #28282B;
    margin-top: 25px;
    margin-bottom: 25px;
}

.section-item {
    padding: 12px;
    background-color: #eedddd;
    border: 5px solid #b01332;
    border-image: linear-gradient(45deg, #ce1332, #371152);
    border-image-slice: 1;
    margin-bottom: 20px;
}

.section-item-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.section-item p {
    text-align: justify;
}

.backTop {
    font-size: 1.1em;
    font-weight: bold;
    color: #b01332;
}

.backTop:hover {
    color: #e41336;
}


/*** END MAIN CONTENT ***/

/* Mobile Devices */
@media (max-width:767.98px) {
    #collapsable-menu {
        border-top: 1px solid #EEE;
        margin-top: 8px;
        padding-top: 8px;
        margin-left: -12px;
        margin-right: -12px;
    }

    .navbar-brand h1 {
        font-size: 1.8em;
    }

    #menu-title {
        font-size: 1.9em;
    }

    .section-item-title {
        font-size: 1.5em;
    }
}

/*Extra Small Devices*/
@media (max-width: 479px) {
    .navbar-brand h1 {
        font-size: 1.6em;
    }

    #menu-title {
        font-size: 1.7em;
    }

    .section-item-title {
        font-size: 1.4em;
    }
}